@import "modules/cssreset";
@import "modules/hoilyGrail";
@import "partials/home";
@import "partials/adult";
@import "partials/young";


.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: gold;
  background-image: url("../img/casino-back.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

