@import "modules/cssreset";
@import "modules/hoilyGrail";
@import "partials/home";
@import "partials/adult";
@import "partials/young";
@import "partials/login";
@import "partials/register";
@import "partials/rulette";


.home { //tło dla stron bez gier
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: gold;
  background-image: url("../img/casino-back.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.homeRulette {  //tło dla strony z ruletka
  width: 100vw;
  height: 100vh;
  background-color: gold;
  background-image: url("../img/rulette-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.homeDice {
  width: 100vw;
  height: 100vh;
  background-color: gold;
  background-image: url("../img/rulette-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gameover {  //tło dla strony gameOver
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background-color: gold;
  background-image: url("../img/casino-back.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.adult {
  width: 100vw;
  height: 100vh;
  background-color: gold;
  background-image: url("../img/casino-back.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

