//// Style dla pliku adult.jsx

.headerAdultStyles {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 50px;
}

.wrapperImgAdult {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  opacity: 0.75;
}

.container3col {
  display: flex;
  justify-content: space-around;
}


.singleColStyles {
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}