//// Style dla pliku dice.jsx


.dice-contener {
  display: flex;
  justify-content: center;
}

.dice {
  background-color: black;
  width: 75px;
  height: 75px;
  border-radius: 10px;
  margin-right: 20px;
  color: white;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding-top: 15px;
}

.allNumbers-container {
  display: flex;
  justify-content: center;
}

.numbers {
  width: 43px;
  height: 43px;
  border: 1px solid gold;
  text-align: center;
  font-size: 24px;
  padding-top: 5px;
}

.special-dice-result-space {
  width: 143px;
  height: 43px;
  border: 1px solid gold;
  text-align: center;
  font-size: 24px;
  padding-top: 5px;
}